<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>My account</title>
   @entryPointStyles('compte')
   @entryPointScripts('compte')
</head>
<body>
   <h1>Welcome {{ auth.user.pseudo }}</h1>

   <a href="{{ route('home') }}">return to home page</a>

   @!component('components/flash')

   <ul>
      <h2>Here is your personal information:</h2>
      <li>pseudo : {{ auth.user.pseudo }}</li>
      <li>email : {{ auth.user.email }}</li>
      <li>created at : {{ auth.user.createdAt }}</li>
   </ul>

   <ul>
      <h2>You can modify your personal information:</h2>
      <li>
         <form action="modifpseudo" method="post">
            <label for="pseudo">Pseudo</label>
            <input type="text" name="pseudo" placeholder="New pseudo">
            <button>Save</button>
         </form>
      </li>
      <li>
         <form action="modifemail" method="post">
            <label for="email">Email</label>
            <input type="email" name="email" placeholder="New email">
            <button>Save</button>
         </form>
      </li>
   </ul>
   <script>
      const body = document.querySelector("body");
      let darkmode = localStorage.getItem("dark-mode");

      if(darkmode === "enabled"){
         body.classList.add("dark-mode-theme");
      } else {
         body.classList.remove("dark-mode-theme");
      }
   </script>
</body>
</html>