.lang-fr {
    display: none;
}

.lang-en {
    display: none;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    justify-content: space-around;
    max-width: 2500px;
    margin: auto;
}

header,
main,
section {
    margin: 100px 100px 100px;
}

h1 {
    padding: 0 0 50px 0;
    font-weight: 900;
    font-size: 50px;
}

h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
}

h3 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
}

.barre-verticale {
    border-left: 5px solid rgb(94, 94, 94);
    padding-left: 15px;
    margin-bottom: 10px;
}

.citation {
    font-style: italic;
    color: rgb(61, 61, 61);
}

.citation-auth {
    color: rgb(61, 61, 61);
    margin-bottom: 40px;
}

main {
    display: flex;
}

.main-left {
    margin-right: 40px;
}

.main-right {
    margin-left: 40px;
    min-width: 40%;
}

nav ul {
    display: flex;
    justify-content: space-between;
    margin: 0 50px 0 50px;
}

nav li {
    list-style: none;
    margin: 0 5px 0 5px;
}

nav a {
    padding: 5px 10px; 
    color: rgb(83, 83, 83); 
    text-decoration: none; 
    border: 2px solid rgb(83, 83, 83); 
    border-radius: 5px; 
    cursor: pointer; 
    font-weight: bold;
}

nav a:hover {
    color: gray; 
    border-color: gray;
}

.div-lien div {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    margin: 5px 0 5px;
    padding: 20px 40px; 
    background-color: rgb(216, 216, 216); 
    color: rgb(85, 85, 85);
    text-decoration: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-weight: bold;
}

.div-lien div:hover {
    background-color: rgb(177, 177, 177); 
}

.div-lien a {
    text-decoration: none;
}

.div-lien img {
    width: 50px;
    padding-right: 15px;
}

@media (max-width: 800px) {
    .main-right {
        display: none;
    }

    header,
    main,
    section {
        margin: 20px 20px 20px;
    }

    nav ul {
        margin: 0;
    }
}

.pp {
    margin: auto;
    width: 100%;
    max-width: 500px;
    border-radius: 50%;
}

form {
    width: 60%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background-color: #555;
}

.all_projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.all_projects div {
    background-color: aqua;
    height: 300px;
    width: 300px;
    margin: 10px;
}