@import url("https://fonts.googleapis.com/css?family=Montserrat:700");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}

body{
    background-color: rgb(240, 240, 240);
}

.btn {
    color: white;
    font-weight: bold;
    font-size: 1em;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    background-color: gray;
    transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55), background-position 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55), box-shadow 500ms linear;
    background-image: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="utf-8"?><svg version="1.1" id="Livello_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"	 width="1296px" height="768px" viewBox="0 0 1296 768" enable-background="new 0 0 1296 768" xml:space="preserve"><g><polygon fill="#8694D1" points="766.6,1.2 -0.2,768 200.7,768 967.5,1.2 	"/></g><g><polygon fill="#8694D1" points="1094.8,1.2 328,768 528.9,768 1295.7,1.2 	"/></g></svg>');
    background-size: contain;
    background-position: -200px center;
    background-repeat: no-repeat;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    display: flex;
    align-items: center;
    width: 100%;
}

.btn:hover {
    transform: scale(1.04);
    background-position: -60px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.btn:active {
    transform: scale(0.5);
    background-position: 500px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.txt_lien{
    width : 100%;
    text-align: center;
}

.header{
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.div_big_title{
    padding: 40px;
    text-align: center;
}

.big_title{
    font-weight: 900;
    color: black;
    font-size: 40px;
}

.sous_big_title{
    font-size: 20px;
}

.div_btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    position: fixed;
}

.div_btn_2{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.sous_title{
    font-weight: 900;
    color: black;
    font-size: 17px;
    text-align: center;
    padding: 25px;
}

.corps{
    margin: 0px 150px 0px;
    background-color: white;
    box-shadow: 0px 0px 10px 1px gray;
}

.inter_corps,
.inter_corps_contact{
    padding: 15px;
}

.def_pv1_1,
.def_pv1_2{
    padding: 0 0 25px;
}

.img_1,
.img_3{
    width : 30%;
	border: none;
	float: right;
    border-radius: 25% 10% 25% 15%;
    padding: 0 0 15px 15px;
}

.img_2{
    width : 30%;
	border: none;
	float: left;
    border-radius: 10% 25% 15% 25%;
    padding: 0 15px 15px 0;
}

.id2_pv1,
.id2_pv2,
.id2_pv3,
.id2_pv4{
    padding: 0 0 25px;
}

.img_carte{
    width : 100%;
	border: none;
    border-radius: 5% / 10%;
}

.clear{
    clear:both
}

.inter_corps_contact{
    margin-bottom: 30px;
}

.p_contact{
    padding: 10px 0 10px 0;
}

form {
	display: flex;
	flex-direction: column;
}

label {
	margin-bottom: 5px;
}

input[type="text"], input[type="email"], textarea {
	margin-bottom: 10px;
	padding: 10px;
	border: 1px solid #ccc;
}

.footer{
    background-color: rgb(51, 50, 58);
    margin-top: 50px;
}

.footer2{
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.sources, 
.sources a{
    text-decoration: none;
    color: white;
}

.line{
    border-bottom: 1px solid gray;
    margin: 0 100px; 
}

.footer1{
    width: 100%;
    height: 100px;
    padding-top: 40px;
}

.copyrights{
    color: white;
    float: left;
    width: 40%;
    text-align: left;
    margin-left: 10%;
}

.conditions_generale{
    text-decoration: none;
    font-weight: 600;
    color: white;
    float: right;
    width: 40%;
    text-align: right;
    margin-right: 10%;
}

.id3_pv1,
.id3_pv2,
.id3_pv3,
.id3_pv4,
.id3_pv5{
    padding: 0 0 25px;
}