<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Nups</title>
   @entryPointStyles('project-nups')
</head>
<body>
   <header>
      <nav>
          <li>
              <img src="/logo.svg" class="logo">
          </li>
          <li>
              <a href="#" data-text="Accueil">Accueil</a>
          </li>
          <li>
              <a href="#explication">Explication</a>
          </li>
          <li>
              <a href="#download">Télécharger</a>
          </li>
          <li>
              <a href="#version_web">Version web</a>
          </li>
      </nav>
      <h1 class="big_title">Nups</h1>
  </header>

  <section id="explication">
      <h1 class="titre_section">Explication</h1>
      <div class="explication_contenaire">
          <div class="partie_1">
              <img src="/arthur.jpg" class="image_parragraphe_1">
              <h2>Le créateur</h2>
              <p>Arthur Puechberty a décidé de créer ce logiciel le 13 juin 2023 à l'âge de 16 ans ! 
                 Il a toujours rêvé de créer un logiciel regroupant tout. Le problème avec Internet 
                 est que dès que nous voulons faire quelque chose, il faut soit aller sur un site, 
                 soit utiliser un logiciel. De plus, en fonction de ce que vous voulez faire, il faut 
                 souvent accéder à des sites différents, mais ces sites ne communiquent généralement 
                 pas entre eux, ce qui peut poser des problèmes. Il fallait remédier à cela en créant 
                 Nups.</p>
          </div>
          <div class="space"></div>
          <div class="partie_2">
              <img src="/project-nups.png" class="image_parragraphe_2">
              <h2>Qu'est-ce que Nups</h2>
              <p>Nups est une société spécialisée dans les services en ligne tels que la recherche sur 
                 Internet, la messagerie (Nups mail), les cartes (Nups Maps), le partage de vidéos 
                 (Nups vidéo), le stockage en ligne (Nups stocke) et bien d'autres. Elle est également 
                 active dans la recherche et le développement de nouvelles technologies.</p>
          </div>
      </div>
  </section>

  <section id="download">
      <h1 class="titre_section">Télécharger</h1>
      <div class="download_link">
          <button type="button" class="btn_download" onclick="telecharger_installer_windows()"><span>Télécharger pour Windows </span><img src="/icon windows.png" alt="" class="logo_download" /></button>
          <button type="button" class="btn_download" onclick="telecharger_installer_mac_os()"><span>Télécharger pour Mac OS </span><img src="/icon mac os.png" alt="" class="logo_download" /></button>
          <button type="button" class="btn_download" onclick="telecharger_installer_linux()"><span>Télécharger pour Linux </span><img src="/icon linux.png" alt="" class="logo_download" /></button>
      </div>
      <script>
         function telecharger_installer_windows() {
            var lien = document.createElement('a');
            lien.href = 'chemin/vers/le/fichier';
            lien.download = 'nups installer.exe';
            lien.click();
         }  
      
         function telecharger_installer_mac_os() {
            var lien = document.createElement('a');
            lien.href = 'chemin/vers/le/fichier';
            lien.download = 'nups installer.exe';
            lien.click();
         }
      
         function telecharger_installer_linux() {
            var lien = document.createElement('a');
            lien.href = 'chemin/vers/le/fichier';
            lien.download = 'nups installer.exe';
            lien.click();
         }
     </script>
  </section>

  <section id="version_web">
      <h1 class="titre_section">Version web</h1>
      <p>Si vous ne voulez pas télécharger notre logiciel, vous pouvez toujours acceder a la version web. Sur cette version il vous suffi de vous connecter comme sur le logiciel et vous pourrez acceder a nos service.</p>
      <div class="btn_version_web_contenaire">
          <button type="button" class="btn_version_web" onclick="window.location.href='{{ route('nups-web') }}'">Acceder a la version web</button>
      </div>
  </section>

  <section id="autre">
      <h1 class="titre_section">Autre</h1>
      <p>Nous avons aussi un serveur discord !</p>
  </section>

  <footer class="footer">
      <span class="copyrights">&copy; <div id="year"></div> - Arthur Puechberty</span>
      <a href="{{ route('terms') }}" class="conditions_generale" target="_blank">Condition générales</a>
  </footer>
  <script>
   var year = new Date().getFullYear();
   document.getElementById("year").innerHTML = year;
   
   document.getElementById('myForm').addEventListener('submit', function(event) {
       var input = document.getElementById('myInput');
       if (input.value.trim() === '') {
           event.preventDefault(); // Empêche la soumission du formulaire
       } else {
           this.action = "https://www.google.fr/search";
       }
   });
   </script>
   <script>
      const body = document.querySelector("body");
      let darkmode = localStorage.getItem("dark-mode");

      if(darkmode === "enabled"){
         body.classList.add("dark-mode-theme");
      } else {
         body.classList.remove("dark-mode-theme");
      }
   </script>
</body>
</html>