<section id="projects" class="pt-32 mx-4 mb-24 sm:mx-24">
  <h2 class="text-2xl font-bold mb-10">Projects</h2>

  <div class="flex flex-wrap justify-center">
    @!component('components/project', {
    'href': '#',
    'img': '/projects/project-nups.png',
    })
    @!component('components/project', {
    'href': '#',
    'img': '/projects/my-networks.jpg',
    })
    @!component('components/project', {
    'href': '#',
    'img': '/projects/journal.avif',
    })
  </div>
</section>